.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
}

.navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link-custom {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Ensure the link inherits the text color */
}

.nav-link-custom::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: currentColor; /* Use current text color */
  transition: width 0.3s ease;
}

.nav-link-custom:hover::after {
  width: 100%;
  left: 0;
  background: currentColor; /* Use current text color */
}

.image-container {
  position: relative;
  width: 100%; /* Ensure it takes full width of the viewport */
  max-width: 100vw; /* Limit width to viewport width */
  height: 100vh; /* Ensure it takes full height of the viewport */
  overflow: hidden;
}

.main-img {
  width: 100%; /* Ensure the image takes full width of its container */
  height: 100%; /* Ensure the image takes full height of its container */
  object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
}

.text-overlay {
  position: absolute;
  top: 60%; /* Adjust the percentage to move the text down */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Change to your desired text color */
  text-align: center;
}

.text-large {
  font-size: 4.5rem; /* Adjust size of large text as needed */
  font-weight: 600;
}

.text-small {
  font-size: 2rem; /* Adjust size of small text as needed */
  margin-top: 10px; /* Adjust spacing between large and small text */
  font-weight: 400;
}

.oswald-text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  /* Adjust the weight as needed */
  font-style: normal;
}
.home-about-container {
  display: flex;
  justify-content: center; /* Center columns horizontally */
  padding-left: 200px; /* Adjust padding as needed */
  padding-right: 200px;
  padding-top: 250px;
}

.left-column {
  flex: 1; /* Take up remaining space */
  padding-right: 0px; /* Adjust padding between image and text */
  display: flex;
  align-items: center; /* Center content vertically */
}

.left-column img {
  width: 700px; /* Ensure image scales within its container */
  height: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below image */
}

.right-column {
  flex: 1; /* Take up remaining space */
  padding-left: 0px; /* Adjust padding between image and text */
}

.right-column h2 {
  font-size: 24px; /* Example styling for heading */
  margin-bottom: 10px; /* Optional margin for spacing */
}

.right-column p {
  font-size: 16px; /* Example styling for paragraphs */
  line-height: 1.6; /* Example line height for readability */
}

.home-about-h3 {
  font-size: 160px !important;
  font-weight: 600;
  color: rgb(212, 154, 45);
}
.home-about-p {
  font-size: 25px !important;
  font-weight: 300;
}

.full-width-div {
  width: 100%;
  background-color: #f0eee3; /* Adjust background color as needed */
  display: flex;
}

.section {
  flex: 1; /* Each section takes up equal space */
  padding: 20px; /* Adjust padding as needed */
  text-align: center; /* Center text horizontally */
  padding-bottom: 40px;
}

.icon {
  margin: 10px; /* Space between icon and heading */
  padding-top: 20px;
}

.icon img {
  max-width: 80px; /* Adjust size of the icon as needed */
  height: auto; /* Maintain aspect ratio */
}
.section h3 {
  font-size: 24px; /* Example font size for section headers */
  margin-bottom: 10px; /* Optional margin for spacing */
  font-weight: 600;
}

.section p {
  font-size: 20px; /* Example font size for section content */
  line-height: 1.6; /* Example line height for readability */
  font-weight: 400;
}
